<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/calc.css'%}">
  </head>
  <body>
    <div class="grid-container">
    <div class="grid-item item0"><h1>Calculadora de boleto</h1></div>
    <div class="grid-item item1">
        <nav id=  "menu">
          <ul>
              <li><a>Menu</a>
              <ul>
                  <li><a href="http://localhost:8000/">Pagina principal</a></li>
                  <li><a href="http://localhost:8000/calc-boleto/registros">Registros</a></li>
                  <li><a href="http://localhost:8000/calc-boleto/eliminar-registro">Eliminar registro</a></li>
                  <li><a href=http://localhost:8000/login/>Logout</a></li>
              </ul>
          </li>
          </ul>
      </nav>
    </div>
    <div class="grid-item item2">
    <FORM METHOD="POST" ACTION="/calc-boleto/calculo">
      {% csrf_token %}
      <TABLE  id="tab_form">
        <tr>
          <th colspan="2" id= "nombre_lab">Nombre:</th>
          <th colspan="2"><input type="text" id="nombre" name="nombre" required></th>
        </tr>
        <tr>
          <th colspan="2">Clase:</th>
          <th colspan="2"><input type="number" id="clssVuelo" name="clssVuelo" min="1" max="3" value = " " required></th>
        </tr>
        <tr>
          <td></td>
          <th>1era clase</th>
          <th>2da clase</th>
          <th>3ra clase</th>
        </tr>
        <tr>
          <th>Comida</th>    
          <th><input type="number" name="cm1" id="cm1" min="0" max="30" value="0" step="1" required></th>
          <th><input type="number" name="cm2" id="cm2" min="0" max="30" value="0" step="1" required></th>
          <th><input type="number" name="cm3" id="cm3" min="0" max="30" value="0" step="1" required></th>
        </tr>
        <TR>
          <th>Bebida</th>
          <th><input type="number" name="beb1" id="beb1" min="0" max="30" value="0" step="1" required></th>
          <th><input type="number" name="beb2" id="beb2" min="0" max="30" value="0" step="1" required></th>
          <th><input type="number" name="beb3" id="beb3" min="0" max="30" value="0" step="1" required></th>
        </TR>
        <TR>
          <th>Pelicula</th>
          <th><input type="number" name="pl1" id="pl1" min="0" max="30" value="0" step="1" required></th>
          <th><input type="number" name="pl2" id="pl2" min="0" max="30" value="0" step="1" required></th>
          <th><input type="number" name="pl3" id="pl3" min="0" max="30" value="0" step="1" required></th>
        </TR>
        <tr>
          <th colspan="4">
            <P><INPUT type="submit" value="Calcular" name="b1" id="b1"></P>
          </th>
        </tr>

      </TABLE>
    
      </FORM>
    </div>
  </div>
  </body>
</html>