<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reg.css'%}">
    
  </head>
    <body>
      <h1>Registros de boletos</h1>
        <table id="reg_table" >
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Clase de vuelo</th>
                <th>Subtotal</th>
                <th>Descuento</th>
                <th>Total</th>
            </tr>

                {%for item in boleto%}
                <tr>
                   
                        <td>{{item.pk}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.vuelo}}</td>
                        <td>{{item.subTotal}}</td>
                        <td>{{item.descuento}}</td>
                        <td>{{item.total}}</td>
                   
                </tr>
                {% endfor %}            
        </table>
        <br><br>
        <button id="button" onclick="goBack()" id="regreso">Regresar</button>
        <script>
          function goBack(){
            window.history.back()
          }
        </script>
    </body>
</html>