<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/regg.css'%}">
    
  </head>
    <body>
      <div class="grid-container">
        <div class="grid-item i0">
          <h1>Registros de boletos</h1>
        </div>
        <div class="grid-item i1">
          <nav id=  "menu">
            <ul>
                <li><a>Menu</a>
                <ul>
                    <li><a href="http://localhost:8000/">Pagina principal</a></li>
                    <li><a href="http://localhost:8000/calc-boleto/">Aerolinea</a></li>
                    <li><a href="http://localhost:8000/clinica-registro/">Clinica</a></li>
                    <li><a href="{%url 'logout'%}">Logout</a></li>
                </ul>
            </li>
            </ul>
        </nav>
        </div>
        <div class="grid-item i2">
          <table id="reg_table" >
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Clase de vuelo</th>
                <th>Subtotal</th>
                <th>Descuento</th>
                <th>Total</th>
            </tr>

                {%for item in boleto%}
                <tr>
                   
                        <td>{{item.pk}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.vuelo}}</td>
                        <td>{{item.subTotal}}</td>
                        <td>{{item.descuento}}</td>
                        <td>{{item.total}}</td>
                   
                </tr>
                {% endfor %}            
        </table>
        </div>
      </div>
    </body>
</html>