<!DOCTYPE html>
<html>
    <body>
        <h1>Registro a eliminar</h1>
        <table border=".5">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Clase de vuelo</th>
                <th>Subtotal</th>
                <th>Descuento</th>
                <th>Total</th>
            </tr>
            <!--{% if rg %}-->
            <tr>
                    <td>{{rg.0.pk}}</td>
                    <td>{{rg.0.nombre}}</td>
                    <td>{{rg.0.vuelo}}</td>
                    <td>{{rg.0.subTotal}}</td>
                    <td>{{rg.0.descuento}}</td>
                    <td>{{rg.0.total}}</td>
            </tr>
            <!--{% else %}
            <tr>
                
                <td>NONE</td>
                <td>NONE</td>
                <td>NONE</td>
                <td>NONE</td>
                <td>NONE</td>
                <td>NONE</td>
            {% endif %}
            -->
        </tr>


            
        </table>
    </body>
</html>