<!DOCTYPE>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/citas.css'%}">
    </head>
        <body>
            <H1>Eliminar cita</H1>
            <div class = "grid-container c0">
            <div class = "grid-item i0">
                <nav id=  "menu">
                    <ul>
                        <li><a>Menu</a>
                        <ul>
                            <li><a href="{%url 'clinicaRegistro'%}">Registro cita</a></li>
                            <li><a href="{%url 'clinicaRegistro'%}">Registro</a></li>
                            <li><a href="{%url 'clinicaRegistros'%}"">Ver citas</a></li>
                            <li><a href="{%url 'clinicaEliminar'%}">Eliminar citas</a></li>
                            <li><a href="{%url 'logout'%}"/>Logout</a></li>
                        </ul>
                    </li>
                    </ul>
                </nav>
            </div>
            <div class = "grid-item i1">
                <p>Cita eliminada con exito</p>
        </div>
        </body>
    
</html>