input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.grid-container {
  display: grid;
  background-color: white;
}
.grid-item {
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
.item0{
  grid: 1/span 2;
}
.item1{
  grid: 2/1;
}

.item2{
  grid: 2/2;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: darkslateblue;
  color:white;
}

#tab_form{
  margin: auto;
  width: 50%;
  border: 3px dashed black;
  padding: 10px;
  align-items: center;
  background:lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  border-radius: 8px;

}

#menu ul{
  list-style: none;
  margin:0;
  padding:0;
}

#menu ul li{
  background-color:#2e518b; ;
}

#menu ul a {
  display: block;
  color:#fff;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}

#menu ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
 }

#menu ul li:hover {
  background:#5b78a7;
}


#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#eee;
  padding:0;
 }
 
 /* items del menu desplegable */
 
 #menu ul ul li {
  float:none;
  width:150px
 }
 
 /* enlaces de los items del menu desplegable */
 
 #menu ul ul a {
  line-height:120%;
  padding:10px 15px;
 }
 
 /* items del menu desplegable al pasar el ratón */
 
 #menu ul li:hover > ul {
  display:block;
 }
input{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 8px;
}
#nombre[type=text]{
  background-color: white;
  border:2px solid lightblue;  
}
#nombre[type=text]:hover{
  background-color:lightskyblue;
  border:2px solid lightblue;
}
input[type=number]{
  width:1cm;
  padding: 5px 5px; 
  border-style: ridge;
  text-align: center;  
   -moz-appearance:textfield; /* Firefox */
}
input[type=number]:focus{
  width:1cm;
  border-style: ridge;
  border-color: lightblue;  
  padding: 5px 5px; 
  text-align: center;  
}
input[type=submit]{
  background-color: white;
  color:black;
  border:2px solid lightskyblue;
  padding: 5px 5px;
  transition-duration: 0.4s;
}

input[type=submit]:hover{
  background-color: gray;
  color:black;
  border:2px solid lightskyblue;
  }

input[type=button]{
  background-color: white;
  color:black;
  border:2px solid lightskyblue;
  padding: 5px 5px;
  transition-duration: 0.4s;
}
input[type=button]:hover{
  background-color: gray;
  color:black;
  border:2px solid lightskyblue;
  }


